{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <a href="/" class="btn btn-outline-secondary back-btn">⬅ Orqaga</a>

    <div class="product-card row align-items-center">
        <div class="col-md-5">
            <img src="{{ product.image.url }}" class="product-image" alt="{{ product.name }}">
        </div>
        <div class="col-md-7 mt-4 mt-md-0">
            <h2>{{ product.name }}</h2>
            <p><strong>Kategoriya:</strong> {{ product.category.name }}</p>
            <p><strong>Miqdor:</strong> {{ product.quantity }}</p>
            <p><strong>Sana:</strong> {{ product.created_at }}</p>
            <p><strong>Tavsif:</strong> {{ product.description }}</p>
            <h4 class="price">{{ product.price }} so'm</h4>
            <button class="btn btn-primary mt-3 px-4">Sotib olish</button>
            <a href="{% url 'add_to_cart' product.id %}">Savatga qo'shish</a>
        </div>

        <form method="post" class="my-5 d-flex">
            {% csrf_token %}
            <input type="text" class="form-control" name="comment" placeholder="Maxsulot haqida qanday fikrdasiz?...">
            <button type="submit" class="btn btn-secondary">Comment</button>
        </form>
        <div class="my-3">
            <h3>Comments</h3>
            <ul>
                {% for comment in comments %}
                <li>{{ comment.text }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}